main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 10px 0;
  
    .filtersAndSortSection {
        display: flex;
        gap: 30px;
    }
  
    .carsSection {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
  }