.carusel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  padding: 20px;
  background-color: rgba($color: #000000, $alpha: 0.8);

  .icons {
    font-size: 2rem;
    color: whitesmoke;
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      transition: 0.3s;
      transform: scale(1.2);
    }

    &:active {
      transition: 0.2s;
      color: chocolate;
    }
  }

  .closeIcons {
    position: absolute;
    top: 2%;
    right: 3.5%;
  }

  .wrapperImage {
    width: 80%;
    height: 95%;
    position: relative;

    .imageGallery {
      opacity: 1;
      border-radius: 10px;
      transition: all 0.5s;
    }
  }

    .moveRight {
      transform: translateX(150%);
    }

    .moveLeft {
      transform: translateX(-150%);
    }
}
